extends ./../layouts/common 
block content
    h1 Products Page

    //- Thanh tim kiem
    .d-flex.align-item-center
        form.d-flex.ml-auto(action="/users/search", method="GET")
            input.form-control(type="text", name="keySearch", value=key)
            button.btn.btn-primary.ml-2(type="submit") Search
            a.btn.btn-primary.ml-2(href="/users") Clear
    
    //- Products
    .row.mx-sm-n5.my-5.d-flex.justify-content-between
        each product in products
            .col-lg-3.col-sm-6
                .card(style='width: 18rem;')
                    img.card-img-top(src=product.image)
                    .card-body
                        h5.card-title #{product.name}
                        p.card-text
                        | #{product.description}
                        a.btn.btn-primary(href=`/cart/add/${product.id}`) Add to cart
        
    //- Pagination
    nav.d-flex.flex-row-reverse(aria-label='Page navigation example')
        ul.pagination
            li.page-item
            a.page-link(href='#') Previous
            li.page-item
            a.page-link(href='/products?page=1') 1
            li.page-item
            a.page-link(href='/products?page=2') 2
            li.page-item
            a.page-link(href='/products?page=3') 3
            li.page-item
            a.page-link(href='#') Next

